[Unit]
Description=Harvey Watchdog Timer (every 2 minutes)

[Timer]
OnBootSec=120
OnUnitActiveSec=120
AccuracySec=10

[Install]
WantedBy=timers.target
